/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #181818;
    background-color: #f3f3f3;

    margin: 0;

    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;

    grid-template-columns: 5rem 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "footer footer";
 

        
}

/* Header styles */
.header {
    grid-area: header;

    background-color: whitesmoke;
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    padding: 1.25rem;

  
}

.dashboard-footer {
    grid-area: footer;

    background-color: whitesmoke;
    color: #181818;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    padding: 1.25rem;

}

/* Dashboard styles */
.dashboard-main {
    grid-area: main;
    padding: 1.25rem;

    background-color: #e8eaeb;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Two columns */
    grid-template-rows: repeat(3, auto); /* Three rows */
    gap: 1rem; /* Space between grid items */
    margin-top: 20px; /* Add spacing above the grid */

}


/* Sidebar styles */
.sidebar {
 
    grid-area: sidebar;

    background-color: #34a4eb;
    color: white;

    padding: 1.25rem;



}



.sidebar .listitems {
    font-weight:600;
    font-size: 20px;
   
    padding: 10px 0px 10px 0px;
    margin: 0;
}


/* Grid items */
.card {
    
    background-color: whitesmoke; 
    padding: 20px;
    text-align: center;
    border: solid 0px #fcba03;
    border-left: solid 5px #fcba03;

    min-block-size: 7rem;

    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-1 {
    background-image: 
        linear-gradient(
            62deg,
            #fbab7e 0%,
            #f7ce68 100%
        );
}


.card-7 {
    grid-row-start: 1;
    grid-row-end: 3;

    grid-column-start: 4;
    grid-column-end: 5;
}

.card-8 {
    grid-row-start: 3;
    grid-row-end: 5;

    grid-column-start: 4;
    grid-column-end: 5;
}